@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');
body, html, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  position: absolute;
  display: block;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: rgba(89, 19, 52, 1);
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color2{
  color: #C9472D !important;
}
.colorb2{
  background-color: #C9472D !important;
}

.btn{
  height: 40px;
  width: auto;
  line-height: 40px;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 50px;
  color: #ffffff;
  text-decoration: none;
}

.btn.border-t-point{
  border-radius: 10px 0 10px !important;
}

.btn.border{
    border: 1px solid #FFFF;
    border-radius: 10px;
}

.btn.border.color2{
  color: #C9472D !important;
  border: 1px solid #C9472D !important;
}

.flex{
  display: flex;
}
/* flex-direction */
.flex-dc{ flex-direction: column; }
.flex-dr{ flex-direction: row; }
.flex-dcr{ flex-direction: column-reverse; }
.flex-drr{ flex-direction: row-reverse; }

/* align-items */
.flex-ic{ align-items: center; }
.flex-is{ align-items: flex-start; }
.flex-ie{ align-items: flex-end; }
.flex-ist{ align-items: stretch; }
.flex-ii{ align-items: inherit; }

.flex-jc{ justify-content: center; }
.flex-js{ justify-content: flex-start; }
.flex-je{ justify-content: flex-end; }
.flex-jst{ justify-content: stretch; }
.flex-jsb{ justify-content: space-between; }
.flex-jsa{ justify-content: space-around; }
.flex-jse{ justify-content: space-evenly; }
.flex-ji{ justify-content: inherit; }

@media screen and (max-width: 750px) {
  .container{
    height: 100%;
    width: 100%;
  }

}

@media screen and (max-height: 500px) {
  body, html{
    font-size: 18px;
  }
  .container{
    height: 100%;
    width: 100%;
  }
}
